body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: rgb(235, 225, 213);
    color: darkolivegreen;
    line-height: 1.6;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white;
}

th {
    background-color: rgb(230, 219, 202);
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .recipe-container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    main {
        padding: 10px;
    }

    .recipe-container {
        margin-top: 10px;
    }
}
